<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Downloader</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/youtube-logo.png">
</head>
<body >
    <section id="area">
            <div id="videodetails">
                <img id="thumb" src="{{thumb}}" alt="">
                <p id="title-media">{{videotitle}} <br> <p>Formato: {{format}}</p></p>
            </div>
    
            <div class="container-button">
                <a class="button" href="/download" type="submit">Baixar</a>
                <a class="button" href="/">Voltar</a>
            </div>
        
        </form>
    </section>  
</body>
</html>