<fieldset id="area">
    <form method="post" action="/baixar" id="form">
        <div id="logo">
            <span id="title-logo">Downloader</span>
            <img src="/img/youtube-logo.png" alt="" id="img-logo">
        </div>

        <div id="link">
            <input placeholder="Digite aqui o Link" type="text" name="link" id="link-input" required>
        </div>

        <div>
            <label for="">Formato: </label>
            <select name="tipo" id="tipo" required> 
                <option value="MP3" selected>MP3</option>
                <option value="MP4">MP4</option>
            </select>
        </div>
        <button type="submit" id="button">Baixar</button>
    </form>
</fieldset>
