* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(206, 2, 2);
}

#area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 14px;
    background-color: white;
    box-shadow: 0px 0px 30px;
    font-family: sans-serif;
    padding: 35px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 500px;
    height: 300px;
}

#videodetails {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#title-logo {
    font-size: 20pt;
    font-weight: bold;
    text-align:center;
    margin-bottom: 10px;
}

#title-media {
    font-size: 12pt;
    font-weight: bold;
    text-align:center;
    margin-bottom: 5px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
    outline: none;
}

#img-logo {
    width: 70px;
}

#link {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 20px;
}

#button {
    background-color: rgb(206, 2, 2);
    border: none;
    font-size: 14px;
    cursor: pointer;
    color: white;
    padding: 10px;
    border-right: 0.5px solid black;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
    text-decoration: none;
}

#link-input {
    width: 250px;
    padding: 8px;
    font-size: 15px;
    border: 0.5px solid black;
    outline: none;

}

#logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 20px;
}

.container-button {
    display: flex;
    justify-content: center;
    align-items: center;

}

.button {
    background-color: rgb(206, 2, 2);
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 15px;
}

.button:hover {
    background-color: rgb(116, 3, 3);
}

#thumb {
    width: 200px;
    border-radius: 20px;
}




